.subNav{
  width: 100%;
  display: flex;
  
}

.nav{
    width: 40%;
    background-color: #ffeef0;
    display: flex;
    padding:5px 90px ;
    margin: 30px auto;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;

}

.selected{
    background-color: #fa8d99;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    text-align: center ;
    color: white;
    font-weight: 600;
}
.notselected{
    background-color: #f9d5d9;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    text-align: center;
}