.subNav{
  width: 100%;
  display: flex;
  
}

.nav{
    width: 80%;
    background-color: #ffffff;
    display: flex;
    padding:5px 10px ;
    margin: 30px auto;
}

.sec1{
    background-color: #ffeef0;
}
.sec2{
    background-color: #ffeef0;
}