.cards{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cardBody{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #ffeef0;
    margin: 10px;
    border-radius: 10px;
}

.image{
    object-fit:fill;
    width: 500px;
    height: 600px;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    font-weight: 700;
    font-size: 25px;
}

.description{
    font-size: 12px;
}

.buyBtn{
    background-color: #ff909b;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    color: white;
}