*{
  margin: 0;
  padding: 0px;
  font-family: 'Sora', sans-serif;
  
}

.connect-wallet-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.connect-wallet{
  margin-top:20px ;
  height: 80px;
  width: 160px;
  background-color: #d3182c;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 20px;
  cursor: pointer;
}
.renderConnected{
  position: relative;
}








